# Ignorar pastas de dependências
**/node_modules

# Ignorar pastas de build/binários do .NET
**/bin
**/obj

# Ignorar pasta de build do Next.js
.next

# Ignorar arquivos de log e sistema
npm-debug.log*
.DS_Store